body {
    font-family: arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-image: url('../img/ask-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
.color {
    font-weight: bold;
    color: #e8491d;
}
header {
    background-color: #000000;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header ul {
    margin: 30px;
    padding: 0;
    float: right;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    text-decoration: none;
}
.home {
    float: left;
    margin: 8px;
}
header #navigacja h1 {
    margin: 0 0 20px;
}
header li:hover {
    font-weight: bold;
    color: #e8491d;
    cursor: pointer;
    text-decoration: none;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
    z-index: 1;
}
/*Login & register form start*/
.container{
    height: 100%;
    align-content: center;
}
.card{
    height: 370px;
    margin-top: 5%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.8) !important;
}
.card-register {
    height: 5% !important;
}
.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #e8491d;
}
.social_icon span:hover{
    color: white;
    cursor: pointer;
}
.card-header h3{
    color: white;
}
.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}
.input-group-prepend span{
    width: 50px;
    background-color: #e8491d;
    color: #35424a;
    border:0 !important;
}
.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: #35424a;
    background-color: #e8491d;
    width: 100px;
}

.login_btn:hover{
    color: #35424a;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}
/*Login & register form end*/