<header class="sekcja" data-type="s1" id="ss1">
    <div class="container">
        <div id="navigacja">
            <a href="index"><i class="home fas fa-home fa-2x"></i></a>
            <h1><span class="color">Advice</span> Service</h1>
        </div>
        <nav class="sticky">
            <ul class="lista">
                <li class="li li_avtive" id="s1"><a href="login">Login</a></li>
                <li class="li" id="s2"><a href="register">Register</a></li>
            </ul>
        </nav>
    </div>
</header>